{% extends "app_quotes/base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../media/life-quotes-13.jpg"
         alt="" width="520" height="480">
    <h1 class="display-5 fw-bold text-body-emphasis">Quotes Portal</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome on Quotes Portal. Here you can find smart thoughts of the most famous people over
            the world. Enjoy learning with us and one day your idea or thoughts will be here .</p>
        <!--            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">-->
        <!--                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>-->
        <!--                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
    </div>
</div>
</div>
{% endblock %}